.active {
  @media (max-width: $tablets-max) {
    border-left: none; 
    border-right: none; 
    border-top: none;
    border-bottom: 5px solid;
    border-image: linear-gradient(to right, #2EC73D, #7C64C2 15%, #B31DB6
    45%);
  }

  @media (min-width: $tablets-max) {
    border-left: none; 
    border-top: none;
    border-bottom: none;
    border-right: 5px solid;
    border-image: linear-gradient(to right 158.11deg, rgba(46, 199, 61, 0.5), rgba(124, 100, 194, 0.5) 15%, rgba(179, 29, 182, 0.5) 95.01%);
  }
}
