.opening {
  min-height: 120px;

  @media (min-width: $desktops) {
    padding-top: 110px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.opening__in {
  padding-bottom: 23px;
}

.opening__title {
  font-size: 50px;
  line-height: 50px;
  font-weight: 900;
  color: #F1F1F1;
  margin: 0;
  position: absolute;
  top: 80px;
  left: 20px;
  right: 0;
  z-index: -1;

  @media (min-width: $tablets) {
    font-size: 191px;
    line-height: 191px;
    top: 120px;
    left: 190px;
  }
}

.opening__name {
  position: relative;
  font-weight: 300;
  font-size: 27px;
  line-height: 34px;
  margin: 0;
  top: 110px;
  left: 20px;
  max-width: 250px;
  background: linear-gradient(to right, #2EC73D, #7C64C2 15%, #B31DB6
  45%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

  @media (min-width: $tablets) {
    font-size: 63px;
    line-height: 79px;
    max-width: 322px;
    left: 200px;
    top: 145px;
  }
}

.opening-nav {
  margin-top: 80px;

  @media (min-width: $tablets) {
    margin-right: 64px;
    display: flex;
  }
}

.opening-nav__menu {
  display: flex;
  flex-direction: column;
  @include reset-list;
}

.opening-nav__link {
  display: block;
  margin: 0;
  color: #858A8A;
  text-decoration: none;
  font-size: 22px;
  font-weight: 900;
  line-height: 32px;
  padding: 16px 20px;

  &[href]:hover {
    color: $black;
  }

  &[href]:active {
    color: $black;
  }
}

.opening__links {
  display: flex;
  flex-direction: column;
  font-size: 22px;
  @include reset-list;

  @media (max-width: $tablets-max) {
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.11);
   margin-right: 64px;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.pink {
  color: #940B97;
}

.items {
  padding-top: 200px;
}
