.page-header {
  position: absolute;
  background-color: $white; 
  width: 100%;
  min-height: 60px;
  padding-right: 0px;
  padding-left: 0px;
  z-index: 2;

  @media (min-width: $tablets) {
    min-height: 110px;
  }
  
  @media (min-width: $desktops) {
    position: absolute;
  }
}
  
.page-header__logo {
  height: 30px;
  display: inline-block;
  vertical-align: top;
  margin-top: 35px;
  margin-bottom: 15px;
  margin-left: 20px;
}

.page-header__wrapper {
  width: 100%;

  @media (min-width: $desktops) {
    width: 1534px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }
}
