@font-face {
  font-family: "Roboto";
  src: local("Roboto"),
       url("/fonts/roboto.woff2") format("woff2"),
       url("/fonts/roboto.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"),
       url("/fonts/roboto.woff2") format("woff2"),
       url("/fonts/roboto.woff") format("woff");
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"),
       url("/fonts/roboto.woff2") format("woff2"),
       url("/fonts/roboto.woff") format("woff");
  font-style: normal;
  font-weight: 300;
}
  