$white: #fff;
$black: #000;
$gradient: rgba(46, 199, 61, 1),
rgba(124, 100, 194, 1),
rgba(179, 29, 182, 1);

$font-color: $black;

$font: "Roboto", "Arial", sans-serif;
$font-size: 18px;
$line-height: 26px;

$phones: 320px;
$phones-max: 659px;
$tablets: 660px;
$tablets-max: 1533px;
$desktops: 1534px;
